{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "plugins": ["flowtype", "react"],
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": [0],
    "react/no-danger": [0],
    "linebreak-style": "off",
    "react/no-array-index-key": "off",
    "react/no-unused-prop-types": "off",
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "browser": true
  },
  "settings": {
    "targets": ["chrome >= 50", "firefox", "edge", "ie >= 9", "safari >= 9"],
    "compiler": "babel"
  },
  "globals": {
    "document": true,
    "localStorage": true,
    "window": true
  }
}
